:root {
    --bg-form: rgba(255, 255, 255, 0.88);
    --bg-color-1: white;
    --bg-color-2: #d5a05c;
    --accent-color-1: pink;
}

* {
    scrollbar-width: none;      /* for Firefox */
    -ms-overflow-style: none;  /* for IE/Edge */
}

body, html {
    height: 100%;
    overflow: hidden; /* prevent body from scrolling */
}

.form-background {
    background-color: var(--bg-color-1);
    background-image: url(https://www.hdwallpapers.in/download/purple_flowers_field_in_blur_yellow_background_hd_spring-HD.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    overflow-y: auto;
    padding: 40px 0;
    border-radius: 30px;
    min-width: 500px;
    width: 40%;
    max-height: 85vh;
    justify-content: flex-start;
    background: var(--bg-form);
    overscroll-behavior: contain;
}

h1 {
    margin-top: 10px;
    font-size: 400%;
}